#Core ML
  torch==2.12.0
  transformers==4.46.3
  datasets==3.1.0
  accelerate==1.1.0
  seqeval==1.2.2   
  bioc==2.1

  # Config
  hydra-core==1.3.2
  omegaconf==2.3.0

  # Tracking
  mlflow==2.17.2

  # Data & utils
  numpy==2.1.3
  pandas==2.2.3
  scikit-learn==1.5.2
  tqdm==4.67.1

  # Testing
  pytest==8.3.3
  pytest-cov==6.0.0

  # Code quality
  black==24.10.0
  ruff==0.7.4

  # Logging
  loguru==0.7.2
